<header class="main-header">
    <a class="logo hidden-xs" data-toggle="push-menu" role="button">
        <span class="logo-mini">
            <i class="fa fa-bars"></i>
        </span>
        <span class="logo-lg">
            <b>Student</b>JS</span>
    </a>
    <nav class="navbar navbar-static-top">
        <a class="sidebar-toggle visible-xs" data-toggle="push-menu" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <li class="dropdown user user-menu">
                    <a class="dropdown-toggle" data-toggle="dropdown"><%= fullname %></a>
                    <ul class="dropdown-menu">
                        <li class="user-body">
                            <div class="row">
                                <span class="col-sm-4">Username:</span>
                                <strong class="col-sm-8"><%= username %></strong>
                            </div>
                            <div class="row">
                                <span class="col-sm-4">Fullname:</span>
                                <strong class="col-sm-8"><%= fullname %></strong>
                            </div>
                            <div class="row">
                                <span class="col-sm-4">Role:</span>
                                <strong class="col-sm-8"><%= role %></strong>
                            </div>
                            <div class="row">
                                <span class="col-sm-4">Class:</span>
                                <strong class="col-sm-8"><%= classname %></strong>
                            </div>
                        </li>
                        <li class="user-footer">
                            <div class="pull-right">
                                <a href="/logout" class="btn btn-primary btn-flat">Sign out</a>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</header>