<!DOCTYPE html>
<html>
<head>
<%- include('_header', { title: 'Hello World!' }); %>
</head>
<body class="hold-transition skin-blue fixed sidebar-mini">
<div class="wrapper">
<%- include('_navbar'); %>
<%- include('_sidebar'); %>
<div class="content-wrapper">
	<section class="content">
		<div class="row">
			<div class="col-xs-12">
				<div class="box box-success box-solid">
					<div class="box-header with-border">
						<h3 class="box-title">Danh sách lớp <%= session.classname %></h3>
					</div>
					<div class="box-body table-responsive no-padding">
						<table class="table table-hover">
							<tr>
								<th>Sinh viên</th>
								<th>Điểm học tập</th>
								<th>Điểm chuyên cần</th>
								<th>Điểm xã hội</th>
								<th>Điểm khác</th>
								<th>Tổng điểm</th>
								<th>Trạng thái</th>
							</tr>
							<%_ for (let i = 0; i < data.length; i++) { _%>
							<tr>
								<td><%= data[i].fullname %></td>
								<td><%= data[i].studyingPoint %></td>
								<td><%= data[i].regulationsPoint %></td>
								<td><%= data[i].socialPoint %></td>
								<td><%= data[i].otherPoint %></td>
								<td><%= data[i].student ? (data[i].studyingPoint + data[i].regulationsPoint + data[i].socialPoint + data[i].otherPoint) : '' %></td>
								<td>
									<%_ if (data[i].student === null) { _%>
									Chưa làm
									<%_ } else if (data[i].status === 0) { _%>
									<a href="/form/<%= data[i].student %>">Chờ sinh viên chỉnh sửa</a>
									<%_ } else if (data[i].status === 1) { _%>
									<a href="/form/<%= data[i].student %>">Chờ lớp trưởng duyệt</a>
									<%_ } else if (data[i].status === 2) { _%>
									<a href="/form/<%= data[i].student %>">Chờ cố vấn học tập duyệt</a>
									<%_ } else { _%>
									<a href="/form/<%= data[i].student %>">Hoàn thành</a>
									<%_ } _%>
								</a></td>
							</tr>
							<%_ } _%>
						</table>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
<%- include('_footer'); %>
</div>
<%- include('_scripts'); %>
</body>
</html>