<!DOCTYPE html>
<html>
<head>
<%- include('_header', { title: 'Hello World!' }); %>
</head>
<body class="hold-transition skin-blue fixed sidebar-mini">
<div class="wrapper">
<%- include('_navbar'); %>
<%- include('_sidebar'); %>
<div class="content-wrapper">
	<section class="content">
		<div class="row">
			<div class="col-xs-12">
				<div class="box box-success box-solid">
					<div class="box-header with-border">
						<h3 class="box-title">Phản hồi</h3>
					</div>
					<div class="box-body table-responsive no-padding">
						<table class="table table-hover">
							<tr>
								<th>#</th>
								<th class="col-md-2 col-sm-3">Người gửi</th>
								<th class="col-md-2 col-sm-3">Người liên quan</th>
								<th class="col-md-8 col-sm-6">Bình luận</th>
							</tr>
							<%_ for (let i = 0; i < datas.length; i++) { _%>
							<tr>
								<td>
									<%_ if (datas[i].status === 0) { _%>
									<a href="/form/<%= datas[i].relater %>" class="btn btn-xs btn-success">Mới</a>
									<%_ } else { _%>
									<a href="/form/<%= datas[i].relater %>" class="btn btn-xs">Xem</a>
									<%_ } _%>
								</td>
								<td><%= datas[i].sendername %></td>
								<td><%= datas[i].relatername %></td>
								<td><%= datas[i].message %></td>
							</tr>
							<%_ } _%>
						</table>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
<%- include('_footer'); %>
</div>
<%- include('_scripts'); %>
</body>
</html>